.article-container .nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  border-radius: .25rem;
}
.article-container .nav .title {
  color: #555555;
  font-size: .94rem;
} 
.article-container .nav .nav-content {
  color: #555555;
  font-size: .94rem;
} 
.list {
  margin-top: 1rem;
}
.list .ant-list-item {
  padding: 0 !important;
}
.article-container .page {
  text-align: center;
  margin: 1rem;
}