.add-article-wrapper {

}

.add-markdown {
    max-height: 500px;
    margin-top: 1rem;
}
.preview-textarea {
    margin-top: 1rem;
    padding: 4px 11px;
    height: 450px;
    max-height: 500px;
    border: 1px solid #ddd;
    border-radius: .25rem;
    background-color: #f5f5f5;
}

.summary {
    margin-top: 1rem;
    max-height: 150px; 
}
.summary-preview {
    margin-top: 1rem;
    padding: 4px 11px;
    height: 100px;
    max-height: 150px; 
    border: 1px solid #ddd;
    border-radius: .25rem;
    background-color: #f5f5f5;
}

.publish-time {
    margin-top: 1rem;
}
.publish-time .title {
    height: 32px;
    line-height: 32px;
}

pre{
  display: block;
  background-color: #283646;
  padding: .5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: .3rem;
}
pre > code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;
}
code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px 3px;
  width: calc(100% - 10px);
  box-sizing: border-box;  
  white-space: normal;
  word-break: break-all;
}