.novel-list .novel-head {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
}
.novel-list .novel-head .noval-name {
  padding: .5rem 2rem;
  border-radius: .25rem;
  font-size: 1rem;
  background-color: #f7f7f7;
  color: #666666;
}
.novel-list .novel-head .noval-name .name {
  color: #40a9ff;
}
.novel-list .novel-head .novel-head-right {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.novel-list .summary {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}