.type-wrapper {
    margin: 1rem 0 1rem 0;
    padding: .4rem .4rem;
    background-color: #ffffff;
    border-radius: .4rem;
}
.type-wrapper .title {
    margin-left: .5rem;
    margin-right: .5rem;
    color: #666666;
}
.type-wrapper .type-item {
    display: inline-block;
    cursor: pointer;
    color: #333333;
    height: 2rem;
    line-height: 2rem;
    margin: .5rem .5rem;
    padding: 0rem 1rem;
    background-color: #ffffff;
    border: 1px solid #55b2ff;
    border-radius: 1rem;
}
.type-wrapper .type-item:hover {
    color: #fff;
    background-color: #55b2ff;
    border: 1px solid #55b2ff;
}
.type-wrapper .active {
    color: #fff;
    background-color: #55b2ff;
    border: 1px solid #55b2ff;
}