.footer-container {
  text-align: center;
  padding-bottom: 2rem;
}

.first-line {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  font-size: .9rem;
  margin-bottom: .5rem;
}
.link {
  color: #444444;
  margin-left: .25rem;
  margin-right: .25rem;
}
.second-line {
  display: flex;
  justify-content: center;
}