.header {
    background-color: #fff;
    padding: .5rem;
    overflow: hidden;
    height: 3.75rem;
    border-bottom: 1px solid #ccc;
}
.header-left {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-logo {
    color: #1e90ff;
    font-size: 1.25rem;
    text-align: left;
}
.header-text {
    font-size: .75rem;
    color: #999;
    display: inline-block;
    padding-left: .5rem;
}
.menu-right {
  display: flex;
  align-items: center;
}
.menu-right .change-version {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}
.menu-right .change-version .version-wrapper {
  flex: 1;
  display: flex;  
  align-items: center;
  flex-direction: row-reverse;
  height: 2rem;
}
.menu-right .change-version .version-wrapper > img {
  margin-right: .5rem;
  height: 2rem;
}
.ant-menu {
    line-height: 3.125rem;
}
.ant-menu-item {
    font-size: 1rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

